.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  .navigation p {
    font-size: 22px;
    padding: 5px 20px;
    margin: 0;
  }