.blurred {
  filter: blur(2px); 
}

.app {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
}

.hidden {
  display: none;
}